<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="/public/styles/main.css">
  <link rel="stylesheet" href="/public/styles/curriculo.css">

  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap" rel="stylesheet">
  <title>Experiencia</title>
</head>
<body id="page-landing">

  <div id="container">

    <header>

      <a href="/src/views/sobre.html"><img class="arrow" src="/public/images/arrow-back.svg" alt="Voltar"></a>
      <div class="contato">
        <a href="/src/views/contato.html"><img src="/public/images/mensseger.svg" alt="Contato"><h3>Contato</h3></a>                         
      </div>

    </header>

    <main>
        <div id="tabs">

          <div class="tab-links">
            <button data-id="experiencia" data-open="data-open">Experiência</button>
            <button data-id="educacao">Educação</button>
            <button data-id="habilidade">Habilidade</button>
          </div>

          <div class="tab-content">

            <section id="experiencia">

              <div class="card-xp">
                <div class="dados-empre">
                  <p>Google</p>
                  <p>2018-2019</p>
                </div>
                  <h2>Senior Web Developer</h2>
                  <p>Remote</p>
              </div>
              <div class="card-xp">
                <div class="dados-empre">
                  <p>Google</p>
                  <p>2018-2019</p>
                </div>
                  <h2>Senior Web Developer</h2>
                  <p>Remote</p>
              </div><div class="card-xp">
                <div class="dados-empre">
                  <p>Google</p>
                  <p>2018-2019</p>
                </div>
                  <h2>Senior Web Developer</h2>
                  <p>Remote</p>
              </div>
              
            </section>

            <section id="educacao">
               <div class="card-xp">
                  <p>2018-2019</p>
                  <h2>Sistema de Infomações</h2>
                  <p>Universidade Federal do Ceará</p>
              </div>
               <div class="card-xp">
                  <p>2018-2019</p>
                  <h2>Ciência da Computação</h2>
                  <p>Universidade Federal do Ceará</p>
              </div>
               <div class="card-xp">
                  <p>2018-2019</p>
                  <h2>Desing Digital</h2>
                  <p>Universidade Federal do Ceará</p>
              </div>
            </section>

            <section id="habilidade">
              
              <div class="card-xp">
                  <img src="../../public/images/javascript.svg" alt="">
                  <h2>Javascript</h2>
                  <p>Júnior</p>
              </div>
               <div class="card-xp">
                  <img src="../../public/images/css.svg" alt="">
                  <h2>CSS 3</h2>
                  <p>Júnior</p>
              </div>
              <div class="card-xp">
                  <img src="../../public/images/html.svg" alt="">
                  <h2>HTML 5</h2>
                  <p>Júnior</p>
              </div>
              <div class="card-xp">
                  <img src="../../public/images/react.svg" alt="">
                  <h2>React</h2>
                  <p>Júnior</p>
              </div>
       
            </section>

          </div>
          
        </div>
      </main>

    
  </div>
<script src="../script/tabs.js"></script>

</body>
</html>