<!DOCTYPE html>
<html lang="pt_br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/styles/main.css">
  <link rel="stylesheet" href="/public/styles/page-home.css">

  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap" rel="stylesheet">


  <title>DevBuh - Desenvolvedor Web</title>

</head>
<body id="page-landing">

  <div id="container">


    <div class="logo-container">
      
      <span>Curriculo Virtual</span> 
      
      <h1>DevBuh</h1>

      <p>Desenvolvedor Front-End</p>
    </div>

    <div class="image-container">
      <img src="/public/images/img-bg.svg" alt="">
    </div>

    <div class="button-container">

      <a href="/src/views/sobre.html"><img src="/public/images/arrow.svg" alt=""></a>
        
    </div>

  </div>
  
</body>
</html>