#page-landing {
  background: #92c7e6;
}

#page-landing #container {
  color: #8257e5;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6rem;
  margin-bottom: 4rem;
}
#container header img {
  margin-right: 1.5rem;
}
#container header h3 {
  text-transform: uppercase;
  color: #8257e5;
}

#container header img {
  width: 4.5rem;
}

#container header .contato img {
  width: 5.5rem;
}
#container header .contato a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .contato {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

main .contato img {
  margin-right: 20px;
}
main .contato p {
  font-size: 2.5rem;
  color: black;
}

main a {
  background: #8257e5;
  margin-top: 20rem;
  width: 40rem;
  height: 5rem;
  border-radius: 1rem;
  color: white;
  border: 0;
  text-decoration: none;
  text-align: center;
}
